<div id="links">
  <%= link_to "recent expenses", expenses_url %> | 
  <%= link_to_function("create a report", "Effect.toggle('report_form', 'blind', {duration:0.2});", :href => reports_url) %>
</div>

<div id="report_form" style="display: none;">
  <%= render :partial => 'common/report_form' %>
</div>
