<table class="expenses">
  <th class="date">date</th>
  <th class="price">price</th>
  <th class="name">name</th>
  <th class="category">category</th>
  <th class="tags">tags <small>(comma separated)</small></th>
  <th class="meta_show"></th>
</table>
