  <td class="date">
    
  </td>
  <td class="price">
    <strong><%= number_to_currency(@total_price) %></strong>
  </td>
  
  <td class="name">
  </td>

  <td class="category">    
  </td>

  <td class="tags">    
  </td>
  
  <td class="meta">
  </td>
